<html>
<head>
    <title>Rugaga</title>
    <style>
        #knopochka {
            color: blue
        }
    </style>
</head>
<body>
    <h1>H1 text</h1>
    <h6>H6 text</h6>
    <label>
        <input type="password" placeholder="password">
        <input type="email" placeholder="email">
    </label>
    <p>paragraph text</p>

    <div class="container">
        <h2>H2 header</h2>
        <p>h2 paragraph</p>
        <label>
            <textarea placeholder="textarea">default value</textarea>
            <input value="default">
        </label>
    </div>
    <a href="https://www.yandex.ru">yandex</a>

    <ul>
        <li>first</li>
        <li>second</li>
    </ul>

    <ol>
        <li>first</li>
        <li>second</li>
    </ol>

    <form action="/submitushka" method="POST">
        <label>
            <input type="text" placeholder="Enter your name!!!" class = "classik inputa">
            <button type="submit" id="knopochka">Send</button>
        </label>
    </form>
    <table>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
        </tr>
    </table>

    <div>
  <form>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </form>
  <div>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </div>
</div>
</body>
</html>